<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">aTom</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/profile" id = 'profile-page'>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/project-detail" id = 'project-page'>Project page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/idea-market" id = 'idea-market-page'>Idea Market</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" id = 'login' >Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" id = 'signup' >Sign Up</a>
        </li>
        
      </ul>
    </div>
  </nav>