<html>
    <head>
      <title>aTom | Project</title>
      <link rel="stylesheet" type="text/css" href="/styles/profile.css">
      <%- include('../partials/generic_head') %>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
      <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    </head>
    <body>
      <%- include('../partials/navbar') %>
      <div class="container mt-5 ">
        <div>
          <a href="#">aTom</a>
          <div class="user-information-header ms-auto">
            <h2>Clara J</h2>
            <h4>Interior design</h4>
            <button class="btn border-0 mail">
              <a href="#">
                <i class="fa-regular fa-message"></i>
              </a>
              <a href="mailto:grumpy.cat@emeow.com">
                <i class="fa-regular fa-envelope"></i>
              </a>
            </button>
          </div>
        </div>

        <div class="d-flex bd-highlight mb-3 bg-light">
          <div class="mr-auto p-2 bd-highlight bg-danger">Flex item</div>
          <div class="p-2 bd-highlight ms-auto">Flex item</div>
          <div class="p-2 bd-highlight">Flex item</div>
        </div>

        <div class="d-flex bg-highlight">
          <div class="p-2 w-100 bg-highlight">Flex item</div>
          <div class="p-2 flex-shrink-0 bg-highlight">Flex item</div>
        </div>

        <div class="row">
          <figure class="user-profile-box col-sm-2 mb-0 ms-0">
            <img class="user-profile-image img-fluid" src="https://i.pinimg.com/564x/ca/7c/61/ca7c61756513e98ef376c7c10e82ba23.jpg" alt="user-profile-photo">
          </figure>
          <div class="user-information-header col-sm-9">
            <div class="part-1">
              <h2>Clara J</h2>
              <h4>Interior design</h4>
              <a href="#">
                <i class="fa-regular fa-message"></i>
              </a>
              <a href="mailto:grumpy.cat@emeow.com">
                <i class="fa-regular fa-envelope"></i>
              </a>
            </div>
            <div>
              <h6>Provided Skill</h6>
              <ul class=" container list-inline px-0">
                <li class="list-inline-item mx-0 rounded-3">Concept Designer</li>
                <li class="list-inline-item mx-0 rounded-3">Revit</li>
                <li class="list-inline-item mx-0 rounded-3">Lighting designer</li>
                <li class="list-inline-item mx-0 rounded-3">3DSmax rendering</li>
                <li class="list-inline-item mx-0 rounded-3">Layout plan</li>
                <li class="list-inline-item mx-0 rounded-3">Mood board</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="container">
          <h3>Project Description:</h3>
          <p class="font-weight-bold">
            Every design is treated differently, I highly encourage contacting me first to quote the project. It will only take a few minutes and will be free of charge.
          </p>
          <p>
            This Project is dedicated to creating the Santorini apartment in Singapore, go from that empty room to the space that best fits your needs, and enjoy this exclusive interior design experience with these prime benefits:
          </p>
          <p>
            Understanding the pre-established packages:
          </p>
          <ul>
            <li>2D layout pack: Furniture layout. NO 3D modeling nor renderings.</li>
            <li>Powder room pack: Suitable for small bathrooms/powder rooms.</li>
            <li>Master bathroom pack: Suitable for large bathrooms/master bathrooms.</li>
          </ul>
        </div>
        <div class="container-fluid">
          <h3>Project photos:</h3>
          <div class="project-photos">
            <div class="project-photo">
              <img src="https://i.pinimg.com/564x/78/b4/3d/78b43d98cc0e37588f1b0e4ac1ed9ecf.jpg" alt="photo-1">
              <p class="photo-name">Random photo</p>
            </div>
            <div class="project-photo">
              <img src="https://i.pinimg.com/564x/42/da/97/42da97332d9faa0ae4aa62fb6532827c.jpg" alt="photo-1">
              <p class="photo-name">Random photo</p>
            </div>
            <div class="project-photo">
              <img src="https://i.pinimg.com/564x/2d/93/7b/2d937b44a532ae797509887773290666.jpg" alt="photo-1">
              <p class="photo-name">Random photo</p>
            </div>
            <div class="project-photo">
              <img src="https://i.pinimg.com/564x/fe/5d/a0/fe5da0466d29028496817753301b1baf.jpg" alt="photo-1">
              <p class="photo-name">Random photo</p>
            </div>
            <div class="project-photo">
              <img src="https://i.pinimg.com/564x/de/bc/30/debc305fdc415aedcdb1f6732a48c04a.jpg" alt="photo-1">
              <p class="photo-name">Random photo</p>
            </div>
            <div class="project-photo">
              <img src="https://i.pinimg.com/564x/ba/06/83/ba0683e775ae2c132d3bafb0b0f2e5c5.jpg" alt="photo-1">
              <p class="photo-name">Random photo</p>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>