<html>
  <head>
    <title>aTom | Profile</title>
    <%- include('../partials/generic_head') %>
    <link rel="stylesheet" type="text/css" href="/styles/profile.css">
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <div class="container-fluid personal-data-form pt-3 mx-auto justify-content-center ">
      <form action="/profile/new" method="POST">
        <%- include('../partials/profile_form') %>
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>