<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/generic_head') %>
    <title>aTom|Artisan</title>
    <style>
      form{
        width: 100vw;
      }
      .container{
        height: 80vh;
      }
    </style>
  </head>
  <body>
    <h1>I am index page</h1>
    <h1>Welcome!</h1>
    <nav>
      <ul>
        <li><a href="/users/login">Log In</a></li>
        <li><a href="/users/register">Register</a></li>
      </ul>
    </nav>
  </body>
</html>
