<html>
    <head>
      <%- include('../partials/generic_head') %>
      <title>aTom|Ideamarket</title>
      <link rel="stylesheet" type="text/css" href="/styles/idea_market.css">
      <style></style>
    </head>
    <body>
      <%- include('../partials/navbar') %>
      <div class="container mt-5">
        <div class="container-card card-columns">
          
          <% projectPhotos.forEach((photo) => { %>
            <div class="card d-inline-block mb-4">
              <a class="project-photo my-2" href="#">
                <img
                  src="<%= photo.photo_url %>"
                  class="card-img-top restaurant-photo"
                  alt="random-photo"
                />
              </a>
            </div>
          <% }) %>
          
        </div>
      </div>
        
    </body>
</html>