<html>
  <head>
    <%- include('../partials/generic_head') %>
    <title>aTom | Freelancer Community</title>
    <link rel="stylesheet" type="text/css" href="/styles/freelancer_community_page.css">
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <div class="container mt-5 ">
      <div class="row g-3">
        <div class="card freelancer-card col-md-4">
          <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
          <div class="card-body mt-5">
            <h5 class="card-title">3D Artist | Photographer | Designer</h5>
            <p class="card-text">Takes a broader approach to architecture that incorporates research, design thinking and technology to drive positive change for people and environments. Possesses broad competencies from architecture, interior and urban design, to branding, experience design, agile and lean business and management, with a keen interest in the circular economy and industry 4.0 developments.</p>
          </div>
          <img src="https://i.pinimg.com/564x/42/da/97/42da97332d9faa0ae4aa62fb6532827c.jpg" class="card-img-top" alt="random photo">
          <ul class=" container list-inline px-0 mb-0">
            <li class="list-inline-item mx-0 rounded">Concept Designer</li>
            <li class="list-inline-item mx-0 rounded">Revit</li>
            <li class="list-inline-item mx-0 rounded">Lighting designer</li>
            <li class="list-inline-item mx-0 rounded">3DSmax rendering</li>
            <li class="list-inline-item mx-0 rounded">Layout plan</li>
            <li class="list-inline-item mx-0 rounded">Mood board</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Message me</a>
            <a href="#" class="card-link">Email me</a>
          </div>
        </div>
        
        <div class="card freelancer-card col-md-4">
          <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
          <div class="card-body mt-5">
            <h5 class="card-title">3D Artist | Photographer | Designer</h5>
            <p class="card-text">Takes a broader approach to architecture that incorporates research, design thinking and technology to drive positive change for people and environments. Possesses broad competencies from architecture, interior and urban design, to branding, experience design, agile and lean business and management, with a keen interest in the circular economy and industry 4.0 developments.</p>
          </div>
          <img src="https://i.pinimg.com/564x/42/da/97/42da97332d9faa0ae4aa62fb6532827c.jpg" class="card-img-top" alt="random photo">
          <ul class=" container list-inline px-0 mb-0">
            <li class="list-inline-item mx-0 rounded">Concept Designer</li>
            <li class="list-inline-item mx-0 rounded">Revit</li>
            <li class="list-inline-item mx-0 rounded">Lighting designer</li>
            <li class="list-inline-item mx-0 rounded">3DSmax rendering</li>
            <li class="list-inline-item mx-0 rounded">Layout plan</li>
            <li class="list-inline-item mx-0 rounded">Mood board</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Message me</a>
            <a href="#" class="card-link">Email me</a>
          </div>
        </div>
        <div class="card freelancer-card col-md-4">
          <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
          <div class="card-body mt-5">
            <h5 class="card-title">3D Artist | Photographer | Designer</h5>
            <p class="card-text">Takes a broader approach to architecture that incorporates research, design thinking and technology to drive positive change for people and environments. Possesses broad competencies from architecture, interior and urban design, to branding, experience design, agile and lean business and management, with a keen interest in the circular economy and industry 4.0 developments.</p>
          </div>
          <img src="https://i.pinimg.com/564x/42/da/97/42da97332d9faa0ae4aa62fb6532827c.jpg" class="card-img-top" alt="random photo">
          <ul class=" container list-inline px-0 mb-0">
            <li class="list-inline-item mx-0 rounded">Concept Designer</li>
            <li class="list-inline-item mx-0 rounded">Revit</li>
            <li class="list-inline-item mx-0 rounded">Lighting designer</li>
            <li class="list-inline-item mx-0 rounded">3DSmax rendering</li>
            <li class="list-inline-item mx-0 rounded">Layout plan</li>
            <li class="list-inline-item mx-0 rounded">Mood board</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Message me</a>
            <a href="#" class="card-link">Email me</a>
          </div>
        </div>
        <div class="card freelancer-card col-md-4">
          <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
          <div class="card-body mt-5">
            <h5 class="card-title">3D Artist | Photographer | Designer</h5>
            <p class="card-text">Takes a broader approach to architecture that incorporates research, design thinking and technology to drive positive change for people and environments. Possesses broad competencies from architecture, interior and urban design, to branding, experience design, agile and lean business and management, with a keen interest in the circular economy and industry 4.0 developments.</p>
          </div>
          <img src="https://i.pinimg.com/564x/42/da/97/42da97332d9faa0ae4aa62fb6532827c.jpg" class="card-img-top" alt="random photo">
          <ul class=" container list-inline px-0 mb-0">
            <li class="list-inline-item mx-0 rounded">Concept Designer</li>
            <li class="list-inline-item mx-0 rounded">Revit</li>
            <li class="list-inline-item mx-0 rounded">Lighting designer</li>
            <li class="list-inline-item mx-0 rounded">3DSmax rendering</li>
            <li class="list-inline-item mx-0 rounded">Layout plan</li>
            <li class="list-inline-item mx-0 rounded">Mood board</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Message me</a>
            <a href="#" class="card-link">Email me</a>
          </div>
        </div>
        <div class="card freelancer-card col-md-4">
          <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
          <div class="card-body mt-5">
            <h5 class="card-title">3D Artist | Photographer | Designer</h5>
            <p class="card-text">Takes a broader approach to architecture that incorporates research, design thinking and technology to drive positive change for people and environments. Possesses broad competencies from architecture, interior and urban design, to branding, experience design, agile and lean business and management, with a keen interest in the circular economy and industry 4.0 developments.</p>
          </div>
          <img src="https://i.pinimg.com/564x/42/da/97/42da97332d9faa0ae4aa62fb6532827c.jpg" class="card-img-top" alt="random photo">
          <ul class=" container list-inline px-0 mb-0">
            <li class="list-inline-item mx-0 rounded">Concept Designer</li>
            <li class="list-inline-item mx-0 rounded">Revit</li>
            <li class="list-inline-item mx-0 rounded">Lighting designer</li>
            <li class="list-inline-item mx-0 rounded">3DSmax rendering</li>
            <li class="list-inline-item mx-0 rounded">Layout plan</li>
            <li class="list-inline-item mx-0 rounded">Mood board</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Message me</a>
            <a href="#" class="card-link">Email me</a>
          </div>
        </div>
        <div class="card freelancer-card col-md-4">
          <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
          <div class="card-body mt-5">
            <h5 class="card-title">3D Artist | Photographer | Designer</h5>
            <p class="card-text">Takes a broader approach to architecture that incorporates research, design thinking and technology to drive positive change for people and environments. Possesses broad competencies from architecture, interior and urban design, to branding, experience design, agile and lean business and management, with a keen interest in the circular economy and industry 4.0 developments.</p>
          </div>
          <img src="https://i.pinimg.com/564x/42/da/97/42da97332d9faa0ae4aa62fb6532827c.jpg" class="card-img-top" alt="random photo">
          <ul class=" container list-inline px-0 mb-0">
            <li class="list-inline-item mx-0 rounded">Concept Designer</li>
            <li class="list-inline-item mx-0 rounded">Revit</li>
            <li class="list-inline-item mx-0 rounded">Lighting designer</li>
            <li class="list-inline-item mx-0 rounded">3DSmax rendering</li>
            <li class="list-inline-item mx-0 rounded">Layout plan</li>
            <li class="list-inline-item mx-0 rounded">Mood board</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Message me</a>
            <a href="#" class="card-link">Email me</a>
          </div>
        </div>
        <div class="card freelancer-card col-md-4">
          <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
          <div class="card-body mt-5">
            <h5 class="card-title">3D Artist | Photographer | Designer</h5>
            <p class="card-text">Takes a broader approach to architecture that incorporates research, design thinking and technology to drive positive change for people and environments. Possesses broad competencies from architecture, interior and urban design, to branding, experience design, agile and lean business and management, with a keen interest in the circular economy and industry 4.0 developments.</p>
          </div>
          <img src="https://i.pinimg.com/564x/42/da/97/42da97332d9faa0ae4aa62fb6532827c.jpg" class="card-img-top" alt="random photo">
          <ul class=" container list-inline px-0 mb-0">
            <li class="list-inline-item mx-0 rounded">Concept Designer</li>
            <li class="list-inline-item mx-0 rounded">Revit</li>
            <li class="list-inline-item mx-0 rounded">Lighting designer</li>
            <li class="list-inline-item mx-0 rounded">3DSmax rendering</li>
            <li class="list-inline-item mx-0 rounded">Layout plan</li>
            <li class="list-inline-item mx-0 rounded">Mood board</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Message me</a>
            <a href="#" class="card-link">Email me</a>
          </div>
        </div>
        <div class="card freelancer-card col-md-4">
          <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
          <div class="card-body mt-5">
            <h5 class="card-title">3D Artist | Photographer | Designer</h5>
            <p class="card-text">Takes a broader approach to architecture that incorporates research, design thinking and technology to drive positive change for people and environments. Possesses broad competencies from architecture, interior and urban design, to branding, experience design, agile and lean business and management, with a keen interest in the circular economy and industry 4.0 developments.</p>
          </div>
          <img src="https://i.pinimg.com/564x/42/da/97/42da97332d9faa0ae4aa62fb6532827c.jpg" class="card-img-top" alt="random photo">
          <ul class=" container list-inline px-0 mb-0">
            <li class="list-inline-item mx-0 rounded">Concept Designer</li>
            <li class="list-inline-item mx-0 rounded">Revit</li>
            <li class="list-inline-item mx-0 rounded">Lighting designer</li>
            <li class="list-inline-item mx-0 rounded">3DSmax rendering</li>
            <li class="list-inline-item mx-0 rounded">Layout plan</li>
            <li class="list-inline-item mx-0 rounded">Mood board</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Message me</a>
            <a href="#" class="card-link">Email me</a>
          </div>
        </div>
        <div class="card freelancer-card col-md-4">
          <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
          <div class="card-body mt-5">
            <h5 class="card-title">3D Artist | Photographer | Designer</h5>
            <p class="card-text">Takes a broader approach to architecture that incorporates research, design thinking and technology to drive positive change for people and environments. Possesses broad competencies from architecture, interior and urban design, to branding, experience design, agile and lean business and management, with a keen interest in the circular economy and industry 4.0 developments.</p>
          </div>
          <img src="https://i.pinimg.com/564x/42/da/97/42da97332d9faa0ae4aa62fb6532827c.jpg" class="card-img-top" alt="random photo">
          <ul class=" container list-inline px-0 mb-0">
            <li class="list-inline-item mx-0 rounded">Concept Designer</li>
            <li class="list-inline-item mx-0 rounded">Revit</li>
            <li class="list-inline-item mx-0 rounded">Lighting designer</li>
            <li class="list-inline-item mx-0 rounded">3DSmax rendering</li>
            <li class="list-inline-item mx-0 rounded">Layout plan</li>
            <li class="list-inline-item mx-0 rounded">Mood board</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Message me</a>
            <a href="#" class="card-link">Email me</a>
          </div>
        </div>
    </div>
  </body>
</html>