<html>
    <head>
      <%- include('../partials/generic_head') %>
      <title>aTom | Freelancer Community</title>
      <link rel="stylesheet" type="text/css" href="/styles/freelancer_community_page.css">
    </head>
    <body>
      <%- include('../partials/navbar') %>
      <div class="container mt-5 ">
        <div class="row g-3">
          <div class="card freelancer-card col-md-4">
            <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
            <div class="card-body mt-5">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>

          <div class="card freelancer-card col-md-4">
            <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
            <div class="card-body mt-5">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card freelancer-card col-md-4">
            <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
            <div class="card-body mt-5">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card freelancer-card col-md-4">
            <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
            <div class="card-body mt-5">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card freelancer-card col-md-4">
            <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
            <div class="card-body mt-5">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card freelancer-card col-md-4">
            <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
            <div class="card-body mt-5">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card freelancer-card col-md-4">
            <img src="https://i.pinimg.com/564x/97/28/6c/97286c914f0906307803fca0e9ef94d2.jpg" class="profile-image" alt="...">
            <div class="card-body mt-5">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>

          
          

          
          
        
      </div>
    </body>
</html>