* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #ca1880;
}
.register-form {
  background-color: hsl(0, 0%, 96%);
  background-image: url("/assets/images/background-2.jpeg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background: lightblue
    url("https://images.pexels.com/photos/39348/musician-trumpet-metal-snowman-39348.jpeg?cs=srgb&dl=pexels-pixabay-39348.jpg&fm=jpg")
    no-repeat fixed center;
  /* background-origin: content-box; */
  background-size: 100%;
  height: 100vh;
}
.logo {
  width: 10rem;
}
.btn-submit {
  background-color: #ca1880;
  color: white;
}
