* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #ca1880;
}
.register-form {
  background-color: hsl(0, 0%, 96%);
  background-image: url("/public/assets/images/background-1.jpeg");
  height: 100vh;
}
.logo {
  width: 10rem;
  height: 10rem;
}
.btn-block {
  background-color: #ca1880;
  color: white;
}
