* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #ca1880;
}
.register-form {
  background-color: hsl(0, 0%, 96%);
  background-image: url("/assets/images/background-3.jpeg");
  background: lightblue url("/assets/images/background-3.jpeg") no-repeat fixed center;
  background-size: 100%;
  height: 100vh;
}
.logo {
  width: 10rem;
}
.btn-submit {
  background-color: #ca1880;
  color: white;
}
