.freelancer-card {
  position: relative;
  margin-top: 6rem;
  border-radius: 1rem;
}
.profile-image {
  position: absolute;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 100%;
  top: -5rem;
  left: 25%;
}

.profile-image:hover {
  transform-style: preserve-3d;
  transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  transform: scale(1.05);
}
