* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: black !important;
}
.user-information-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.user-profile-image {
  border-radius: 2rem;
  margin-top: 1rem;
  object-fit: cover;
}

.list-inline-item {
  background-color: #cfcfcf;
  padding: 0.1rem 1rem;
  margin-top: 0.5rem;
}
.carousel-item {
  height: 20rem;
}
.carousel-item img {
  width: 100%;
}
