* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-profile-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 10rem; */
  /* flex: 0 0 10rem; */
}
.user-profile-image {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  margin-top: 1rem;
  object-fit: cover;
}
.project-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.list-inline-item {
  border-radius: 1rem;
  background-color: #cfcfcf;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}
.project-photos {
  display: flex;
  flex-flow: row wrap;
}
.project-photos > * {
  padding: 0.5rem;
  flex: 1 30%;
  height: 20rem;
  overflow: hidden;
  text-align: center;
}
