<html>
  <head>
    <title>aTom | New Job</title>
    <%- include('../partials/generic_head') %>
    <link rel="stylesheet" type="text/css" href="/styles/profiles.css">
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <div class="container-fluid personal-data-form pt-3 mx-auto justify-content-center ">
      <form action="/jobs/new" method="POST">
        <div class="row mx-auto align-items-center h-100 text-left px-5 gx-4">
          <div class="card col-md-6 mb-4">
            <div class="card-body form-outline">
              <label class="form-label" for="job_title">Job Title</label>
              <input type="text" name="job_name" id="job_name" class="form-control" placeholder="job Name "/>
            </div>
            <div class="card-body form-outline">
              <label class="form-label" for="job_description">Job Description</label>
              <input type="text" name="job_description" id="job_description" class="form-control" placeholder="job Description"/>
            </div>

            <div class="card-body form-outline input-skill-container">
              <label class="form-label" for="skills">Required Skills for this Job:</label>
              <input type="text" name="skills" class="form-control input-skill"/>
            </div>

            <div class="card-body form-outline add-photo-container">
              <!-- ADD PHOTO CONTAINER  -->
            </div>
            <div class="add-photo mx-1">
              <i class="fa-solid fa-file-circle-plus"></i>
            </div>
            <label class="form-label" for="photos">Add photo for this Job</label>
          </div>
          <button type="submit" class="btn mb-4 text-white" style="background-color: #ca1880;">
            Submit
          </button>
        </div>
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/project_new.js"></script>
  </body>
</html>