<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/generic_head') %>
    <link rel="stylesheet" type="text/css" href="/styles/authenticated_pages.css">
    <title>aTom | Login</title>
  </head>
  <body>
    <div class="container-fluid register-form text-center pt-3">
      <div class="row gx-lg-5 align-items-center h-100">
        <div class="col-lg-7 my-auto">
          <!-- FIXME: I dont know why the logo Didnot appear even the path is correct already.-->
          <img class="logo" src="/public/assets/images/logo_pink_1.png" alt="logo"> 
          <h1 class="my-5 display-3 fw-bold ls-tight">aTom</h1>
        </div>

        <div class="col-lg-4 my-auto mx-1">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form action="/autheticated/register" method="POST">
                <div class="text-center">
                  <p>Login with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                  <p>Or: </p>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" name="email" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" name="password" id="form3Example4" class="form-control" />
                  <label class="form-label" for="form3Example4">Password</label>
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Login
                </button>

                <div class="text-center">
                  <p>Don't have an account?</p>
                  <a href="/authenticated/register">Register</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
